/*组件库样式布局开始*/

#components aside {
    float: left;
    width: 200px;
    /*height: 500px;*/
    border: 1px solid #ddd;
}
#components .align-center {
    margin-bottom: 20px;
}
#components aside ul {
    height: 500px;
    overflow-y: auto;
}
#components .nav-fixed {
    position: fixed;
    top: 10px;
}
#components .rg-content {
    float: right;
    width: 860px;
    min-height: 500px;
    margin-bottom: 360px;
}
#components section {
    margin-bottom: 20px;
    padding: 20px;
    min-height: 180px;
    border: 1px solid #ddd;
}
#components section h2 {
    margin-bottom: 10px;
}
#components .lf-nav .lf-nav-title {
    padding-left: 12px;
    font-size: 18px;
    line-height: 40px;
    background-color: #efefef;
}
#components .lf-nav li {
    width: 160px;
    padding: 4px 0 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
    cursor: pointer;
}
#components .lf-nav li:hover {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
}
#components .lf-nav li.active {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
#components .show-code {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ddd;
    background-color: #f0f3f9;
}
#components #ueditor p {
    line-height: 1.75;
    margin-bottom: 10px;
}

/*组件库样式布局结束*/


/*代码高亮显示样式优化开始*/

pre {
    background-color: rgb(240, 243, 249);
    border: 1px dashed rgb(221, 221, 221);
}
pre span {
    color: #000;
    padding-top: 4px;
    display: inline-block;
}
.prettyprint.linenums ol li,
pre.prettyprint.linenums ol li {
    padding-left: 25px !important;
}

/*代码高亮显示样式优化结束*/

