@charset "UTF-8";

/* ======== 基础颜色和布局样式开始 ======== */

.font12 {
    font-size: 1.2rem;
}
.font14 {
    font-size: 1.4rem;
}
.font16 {
    font-size: 1.6rem;
}
.font18 {
    font-size: 1.8rem;
}
.font20 {
    font-size: 2rem;
}
.color-black {
    color: #444;
}
.color-white {
    color: #fff;
}
.color-grey {
    color: #888;
}
.color-red {
    color: #ff4611;
}
.color-green {
    color: #429842;
}
.color-blue {
    color: #4c9ed9;
}
.color-yellow {
    color: #e38d13;
}
.bg-red {
    background-color: #ff4611;
}
.bg-green {
    background-color: #429842;
}
.bg-blue {
    background-color: #4c9ed9;
}
.bg-yellow {
    background-color: #e38d13;
}
.right10 {
    margin-right: 1rem;
}
.right20 {
    margin-right: 2rem;
}
.bottom10 {
    margin-bottom: 1rem;
}
.bottom20 {
    margin-bottom: 2rem;
}
.cursor {
    cursor: pointer;
}

/* 左右浮动 */

.ms-fl {
    float: left;
}
.ms-fr {
    float: right;
}

/*水平翻转*/

.ms-flipx {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}

/*垂直翻转*/

.ms-flipy {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*固定宽度，超出部分用…代替*/

.ms-fixed-width {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ======== 基础颜色和布局样式结束 ======== */


/*公共布局样式开始*/

.docs-layout .logo {
    font-family: 'Clicker Script', cursive;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.docs-layout header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #463265;
    z-index: 100;
}
.docs-layout header li {
    float: left;
    padding-left: 20px;
    text-align: right;
    font-size: 14px;
}
.docs-layout header a, .docs-layout header a:link {
    color: #fff;
}
.docs-layout header .menu-nav a, .docs-layout header .menu-nav a:link {
    padding: 0 20px;
    display: block;
    color: #fff;
}
.docs-layout header .menu-nav a:hover, .docs-layout header .menu-nav a.active {
    color: #3FB8DD;
}
.docs-layout header.light a, .docs-layout header.light a:link {
    color: #463265;
}
.docs-layout header.light .menu-nav a:hover, .docs-layout header.light .menu-nav a.active {
    background-color: #f9f9f9;
}
.docs-layout header.dark {
    background-color: #294A5D;
}
.docs-layout header.dark a, .docs-layout header.dark a:link {
    color: #fff;
}
.docs-layout header.dark .menu-nav a:hover, .docs-layout header.dark .menu-nav a.active {
    color: #3FB8DD;
}
.docs-layout .align-center, .docs-layout .main {
    margin: 0px auto;
    width: 1100px;
    overflow: hidden;
}
.docs-layout footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #99979c;
    background-color: #2a2730;
    color: #fff;
}
.docs-layout footer a {
    color: #fff;
}

/*公共布局样式结束*/

.docs-layout .docs-header {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
    background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
.docs-layout aside {
    float: left;
    width: 180px;
    min-height: 500px;
    border: 1px solid #ddd;
}
.docs-layout aside ul {
    height: 500px;
    overflow-y: auto;
}
.docs-layout .nav-fixed {
    position: fixed;
    top: 10px;
}
.docs-layout .rg-content {
    float: right;
    width: 880px;
    min-height: 500px;
    margin-bottom: 360px;
}
.docs-layout section {
    margin-bottom: 20px;
    padding: 20px;
    min-height: 180px;
    border: 1px solid #ddd;
}
.docs-layout section h2 {
    margin-bottom: 10px;
}
.docs-layout .lf-nav {
    float: left;
    min-height: 600px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.docs-layout .lf-nav .lf-nav-title {
    padding-left: 12px;
    font-size: 18px;
    line-height: 40px;
    background-color: #efefef;
}
.docs-layout .lf-nav li {
    width: 160px;
    padding: 4px 0 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
    cursor: pointer;
}
.docs-layout .lf-nav li a {
    display: block;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.docs-layout .lf-nav .children-nav {
    display: none;
}
.docs-layout .lf-nav .children-nav:first-child {
    display: block;
}
.docs-layout .lf-nav .parent-nav > li >a, .docs-layout .lf-nav .children-nav > li >a {
    display: block;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}
.docs-layout .lf-nav .parent-nav > li:hover >a, .docs-layout .lf-nav .children-nav > li:hover >a {
    padding-left: 16px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
.docs-layout .lf-nav .parent-nav > li.active >a, .docs-layout .lf-nav .children-nav > li.active >a {
    padding-left: 17px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
.docs-layout .show-code {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ddd;
    background-color: #f0f3f9;
}
.docs-layout #ueditor p {
    line-height: 1.75;
    margin-bottom: 10px;
}

/*组件库样式布局结束*/


/*文章开始*/

.docs-article h2, .docs-article h3 {
    line-height: 2;
}
.docs-article p {
    margin-bottom: 10px;
}

/*文章结束*/


/*demos示例说明文字开始*/

.demos-article {
    margin: 20px auto 10px;
    width: 1100px;
}
.demos-article h2 {
    font-size: 24px;
}
.demos-article h2, .demos-article p {
    line-height: 2em;
    font-family: 'Clicker Script', cursive;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.demos-article p {
    font-size: 16px;
    margin-bottom: 20px;
}

/*demos示例说明文字结束*/


/*-返回顶部开始*/

.back-to-top {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 34px;
    height: 34px;
    background-image: url('../../img/public/back-to-top.png');
    cursor: pointer;
    z-index: 99;
}
.back-to-top:hover {
    background-position: 0 -34px;
}

/*-返回顶部结束*/
