/*页面样式开始*/

#img-txt {
    margin: 20px auto;
    padding: 20px;
    width: 1100px;
    min-height: 500px;
    border: 1px solid #ddd;
}
#img-txt .img-txt-desc {
    margin-bottom: 20px;
}
.show-code {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ddd;
    background-color: #f0f3f9;
}
.demo-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*页面样式结束*/

.img-txt-item {
    position: relative;
    width: 750px;
    height: 249px;
}
.img-txt-item .item-img {
    width: 100%;
    height: 100%;
}

/*示例一样式开始*/

.demo1 .img-txt-item .item-txt {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 750px;
    height: 249px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}
.demo1 .img-txt-item .item-txt ul {
    width: 660px;
    margin: 30px auto;
}
.demo1 .img-txt-item .item-txt ul li {
    font-size: 16px;
    margin-top: 16px;
    color: #fff;
}
.demo1 .img-txt-item .icon-circle-brown {
    display: inline-block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #D0B17F;
}

/*示例一样式结束*/


/*示例二样式开始*/

.demo2 .img-txt-item {
    overflow: hidden;
}
.demo2 .item-txt {
    position: absolute;
    top: 193px;
    left: 0;
    padding: 10px 14px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.demo2 .item-txt .title {
    font-size: 20px;
    line-height: 40px;
}

/*示例二样式结束*/

