/*左侧鼠标滑动显示更多信息开始*/

.goods-list {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
}
.goods-kind ul li {
    width: 217px;
    height: 330px;
    float: left;
    margin-right: 14px;
    position: relative;
    background-color: #fff;
    margin-top: 10px;
    list-style: none;
    border: 1px solid #454546;
}
.goods-kind .left-list {
    width: 217px;
    height: 317px;
    float: left;
    margin-right: 14px;
    position: relative;
    background-color: #fff;
    margin-top: 10px;
}
.goods-kind ul li:nth-child(4n) {
    margin-right: 0;
}
.goods-img {
    width: 100%;
    height: 200px;
    display: block;
}
.goods-img img {
    width: 100%;
    height: 100%;
}
.goods-news {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 130px;
    z-index: 99;
    background-color: #fff;
}
.name-title {
    font-size: 14px;
    position: absolute;
    left: 15px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price-money {
    color: #FF9560;
    min-width: 100px;
}
.price {
    left: 15px;
    top: 34px;
    font-size: 14px;
    position: absolute;
    color: #FF9560;
}
.ritio-number {
    position: absolute;
    left: 40px;
    color: #FF9560;
}
.month-cost {
    position: absolute;
    right: 30px;
    font-size: 14px;
    top: 34px;
}
.income-ritio {
    position: absolute;
    top: 56px;
    left: 15px;
    font-size: 14px;
    text-decoration: line-through;
}
.income-integral {
    font-size: 14px;
    top: 61px;
    right: 62px;
    position: absolute;
}
.income-price {
    font-size: 14px;
    top: 61px;
    position: absolute;
    color: #FF9560;
    margin-left: 15px;
}
.income-money {
    font-size: 14px;
    top: 56px;
    position: absolute;
    color: #FF9560;
    right: 20px;
}
.income-money span {
    font-size: 18px;
}
.price-number {
    position: absolute;
    left: 35px;
}
.goods-way {
    width: 100%;
    height: 40px;
    border-top: 1px solid #eee;
    position: absolute;
    z-index: 100;
    bottom: 0;
    background-color: #fff;
}
.left-way {
    border-right: 1px solid #eee;
    width: 50%;
    font-size: 14px;
    height: 39px;
    position: absolute;
}
.left-way p {
    position: absolute;
    left: 50px;
    top: -5px;
}
.right-way {
    width: 50%;
    position: relative;
    left: 157px;
    top: -7px;
    font-size: 14px;
}
.right-way .choose-text {
    position: absolute;
    top: 3px;
}
.way-img {
    width: 22px;
    height: 17px;
    position: absolute;
    left: -22px;
    top: 4px;
}
.way-img img {
    width: 100%;
    height: 100%;
}

/* 隐藏部分开始 */

.month-promote {
    position: absolute;
    top: 74px;
    font-size: 14px;
    left: 14px;
    height: 40px;
}

/* 隐藏部分结束*/


/*左侧鼠标滑动显示更多信息*/


/*第一种方法结束*/


/* 页面右侧显示更多信息开始 */

.right-expend {
    background-color: #fff;
    float: right;
    margin-top: 40px;
    width: 220px;
}
.promote-text {
    width: 100%;
    position: relative;
    background-color: #F0F5FB;
    height: 35px;
    margin-bottom: 20px;
}
.promote-name {
    position: absolute;
    left: 9px;
    top: 8px;
    font-size: 14px;
}
.promote-img {
    width: 30px;
    height: 22px;
    position: absolute;
    left: 63px;
    top: 0px;
    display: block;
}
.promote-img img {
    width: 100%;
    height: 100%;
}
.promote-list {
    position: relative;
    overflow: hidden;
    height: auto;
}
.promote-list ul li {
    list-style: none;
}
.promote-list .goods-main {
    width: 200px;
    position: relative;
    border: 1px solid #454666;
    height: 270px;
}
.hot-img {
    width: 100%;
    height: 180px;
    position: absolute;
    display: block;
}
.hot-img img {
    width: 100%;
    height: 100%;
}
.goods-introduce {
    position: relative;
    width: 100%;
    height: 150px;
}
.goods-cost {
    font-size: 12px;
    position: absolute;
    top: 187px;
    width: 100px;
    margin-left: 5px;
}
.price-pay {
    font-size: 14px;
}
.rate-number {
    position: absolute;
    top: 183px;
    width: 100px;
    left: 118px;
    font-size: 14px;
    margin-left: 5px;
}
.rate-score {
    color: #FF864A;
}
.integral-number {
    position: absolute;
    top: 187px;
    font-size: 14px;
}
.left-time {
    position: absolute;
    top: 238px;
    font-size: 14px;
    margin-left: 5px;
}
.clock-img {
    height: 18px;
    width: 18px;
    position: relative;
    top: 5px;
}
.clock-img img {
    width: 100%;
    height: 100%;
}
.ratio-number {
    color: #ff9560;
    font-size: 14px;
    position: absolute;
    top: 208px;
    left: 119px;
}
.integral-number {
    position: absolute;
    top: 209px;
    font-size: 14px;
    margin-left: 5px;
}
.promote-white {
    color: #fff;
    width: 60px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    background-color: #FF9560;
    position: absolute;
    top: 238px;
    left: 134px;
}

/* 右侧部分结束 */


/* 右侧列表隐藏部分开始 */

.hot-hidden {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 90px;
    display: none;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}
.hidden-name {
    font-size: 14px;
    margin-top: 7px;
    margin-left: 5px;
}
.hidden-number {
    font-size: 14px;
    margin-top: 7px;
    margin-left: 5px;
}
.hidden-promote {
    margin-left: 5px;
}
.hidden-month {
    margin-top: 7px;
    font-size: 14px;
    margin-left: 5px;
}
.month-number {
    margin-left: 5px;
}

/* 右侧列表隐藏部分结束 */

