input,
img {
    vertical-align: middle;
    outline: none;
}
li {
    list-style: none;
}
.select-all {
    margin: 20px auto;
    padding: 20px;
    width: 900px;
    box-shadow: 0 0 10px 10px #dcdcdc;
    background: #FFF;
}
.content {
    border: 1px dashed #ccc;
}
.checkList li {
    line-height: 40px;
    cursor: pointer;
}
.checkList .li-item {
    display: block;
    cursor: pointer;
}
.checkList .li-item input {
    display: none;
}
.secCheck .li-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

