/*收入比率和价格区间开始*/

.rank-list {
    width: 800px;
    height: 150px;
    background-color: #fff;
    border: 1px solid red;
    margin: 0 auto;
}
.goods-price ul li {
    float: left;
    list-style: none;
}
.left-price {
    width: 362px;
    height: 48px;
    line-height: 48px;
}
.left-price:hover {
    box-shadow: 0 0 18px #ddd;
    z-index: 100;
}
.right-price {
    height: 48px;
    line-height: 48px;
    width: 348px;
    padding-left: 10px;
}
.right-price:hover {
    box-shadow: 0 0 18px #ddd;
    z-index: 100;
}
.income-text {
    font-size: 14px;
    font-weight: 699;
    padding-right: 5px;
    margin-right: 3px;
}
.number-text {
    padding-left: 5px;
}
.goods-price li input {
    width: 80px;
    height: 20px;
}
.confirm-text {
    background-color: #FF9560;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 278px;
    top: -53px;
    font-size: 14px;
    color: #fff;
    display: none;
}
.confirm-button {
    background-color: #FF9560;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 295px;
    top: -53px;
    font-size: 14px;
    color: #fff;
    display: none;
}

/*收入比率和价格区间结束*/

