.tab-change {
    width: 321px;
    overflow: hidden;
}
.tab-change li {
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 27px;
    text-align: center;
    width: 70px;
    cursor: pointer;
}
.tab-change li.click {
    border-bottom: 2px solid #bf7554;
    color: #bf7554 !important;
    font-size: 16px;
    display: inline-block;
}
.tab-change li {
    height: 40px;
    display: inline-block;
    width: 80px;
}
.tab-change li:hover {
    border-bottom: 2px solid #bf7554;
    color: #bf7554;
}
#tab2,
#tab3 {
    display: none;
}

