body {
    font-size: 12px;
    color: #666;
    background-color: #fcfcfc;
}
.avatar-view {
    display: block;
    margin: 20px auto;
    height: 220px;
    width: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    cursor: pointer;
    overflow: hidden;
}
.avatar-view img {
    width: 100%;
}
.hidden {
    border: 0 !important;
    clip: rect(1px 1px 1px 1px);
    /*IE<8*/
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    margin: -1px;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px;
}

/*我的头像开始*/

#my-avatar .avatar-body {
    margin: 0 auto;
    width: 880px;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 2px #ccc;
}
#my-avatar .lf-big-img {
    float: left;
    margin-bottom: 20px;
    width: 580px;
    border-right: 1px dotted #ddd;
}
#my-avatar .avatar-upload {
    float: left;
    margin-right: 20px;
    width: 100px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
#my-avatar .avatar-upload span {
    vertical-align: middle;
}
#my-avatar .upload-tip {
    line-height: 40px;
}
#my-avatar .avatar-wrapper {
    margin-top: 10px;
    margin-bottom: 14px;
    width: 560px;
    height: 340px;
    border: 1px solid #ccc;
    background-color: #EEE;
}
#my-avatar .lf-big-img .btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: #FFB000;
    border: 1px solid #FFB000;
    cursor: pointer;
}
#my-avatar .avatar-wrapper img,
#my-avatar .rg-lt-img img {
    width: 100%;
    height: 100%;
}
#my-avatar .rg-lt-img {
    float: right;
    width: 260px;
}
#my-avatar .rg-lt-img .title {
    margin-bottom: 10px;
}
#my-avatar .rg-lt-img .tip-txt {
    line-height: 1.75;
    margin-bottom: 14px;
}
#my-avatar .avatar-preview {
    overflow: hidden;
}
#my-avatar .rg-lt-img .preview-98 {
    width: 98px;
    height: 98px;
    border: 1px solid #ddd;
}
#my-avatar .rg-lt-img .preview-48 {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
}
#my-avatar .rg-lt-img .preview-18 {
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
}

/*我的头像结束*/

