 body,
 html {
     width: 100%;
     height: 100%;
     margin: 0;
     font-family: "微软雅黑";
     font-size: 14px;
 }
 body a {
     outline: none;
 }
 .wrap {
     width: 90%;
     height: 90%;
     background: red;
     margin: 0 auto;
     margin-top: 4%;
     position: relative;
     background: #555;
     z-index: 100;
 }
 .BMap_geolocationContainer {
     border: 1px solid rgb(17, 16, 16) !important;
 }
 .close_wrap {
     position: absolute;
     background: #4a4646;
     color: #fff;
     cursor: pointer;
     right: 16px;
     top: 7px;
 }
 #l-map {
     position: absolute;
     height: 94%;
     width: 76%;
     left: 1%;
     top: 6%;
 }
 #r-result,
 #r-result table {
     width: 100%;
     clear: both;
 }
 #r-result1 {
     width: 100%;
     margin-top: 5px;
 }
 .BMap_stdMpPan {
     left: -51px !important;
     position: absolute !important;
 }
 .BMap_stdMpZoom {
     left: -51px !important;
     position: absolute !important;
 }
 .BMap_scaleCtrl {
     top: 41px !important;
 }
 .anchorTL {
     left: 66px !important;
 }
 .btn_side_close {
     position: absolute;
     top: 48%;
     left: -23px;
     display: block;
     width: 22px;
     height: 43px;
     border: 1px solid #ccc;
     border-right: 0 none;
     border-radius: 2px;
     background: #fff url(http://pic.c-ctrip.com/hotels121118/un_bg_map.png) no-repeat;
     box-shadow: -1px 0 1px rgba(0, 0, 0, .1);
     z-index: 100;
 }
 .right {
     position: absolute;
     width: 270px;
     height: 94%;
     top: 6%;
     right: 9px;
     border-left: 1px solid #ccc;
     background-color: #fff;
 }
 .around_search {
     margin-bottom: 10px;
 }
 .map_side_title {
     font-size: 14px;
     font-weight: bold;
     line-height: 50px;
     margin-left: 10px;
 }
 .map_side .restaurant:hover {
     position: relative;
     border-color: #FBBD27;
     z-index: 3;
     zoom: 1;
 }
 .around_box a:hover {
     text-decoration: none;
     color: #06c;
 }
 a:hover {
     text-decoration: underline;
 }
 .map_side .hotel:hover {
     position: relative;
     border-color: #267BD0;
     z-index: 3;
     zoom: 1;
 }
 .map_side .train:hover {
     position: relative;
     border-color: #84C058;
     z-index: 3;
     zoom: 1;
 }
 .map_side .entertainment:hover {
     position: relative;
     border-color: #DB71BB;
     z-index: 3;
     zoom: 1;
 }
 .map_side .sight:hover {
     position: relative;
     border-color: #55A8E5;
     z-index: 3;
     zoom: 1;
 }
 .map_side .market:hover {
     position: relative;
     border-color: #F7625F;
     z-index: 3;
     zoom: 1;
 }
 .map_side_title .back {
     padding-right: 4px;
     font-weight: normal;
     font-size: 12px;
     color: #ccc;
     display: none;
 }
 .map_side_title .back a {
     margin-right: 4px;
     text-decoration: none;
 }
 .map_side .around_box {
     width: 260px;
     *zoom: 1;
     left: 6px;
     position: absolute;
 }
 .map_side .around_box a {
     position: relative;
     float: left;
     display: inline;
     width: 41px;
     height: 46px;
     margin: -1px 0 0 -1px;
     padding-left: 44px;
     border: 1px solid #DADBDA;
     border-top: 1px solid #EAEBEA;
     border-bottom: 1px solid #EAEBEA;
     color: #333;
     font-size: 14px;
     line-height: 46px;
     background-color: #F5F5F5;
     overflow: hidden;
     text-decoration: none;
 }
 /*交通枢纽*/
 
 .map_side .traffic_hub {
     width: 260px;
     margin: 0 -10px;
     padding: 0 10px 10px;
     border-top: 1px dashed #ccc;
     border-bottom: 1px dashed #ccc;
     margin-top: 108px;
     height: 111px;
 }
 .map_side_title .traffic_info {
     padding-left: 10px;
     font-size: 12px;
     font-weight: normal;
     color: #666;
 }
 .traffic_hub .traffic_item {
     margin-bottom: 10px;
     padding-left: 26px;
 }
 .traffic_hub .traffic_item span {
     padding: 0 6px;
     color: #ccc;
 }
 .traffic_hub .traffic_item span a {
     padding: 0 6px;
     color: #ccc;
     text-decoration: none;
 }
 /*交通枢纽*/
 
 #routePanel .map_side_title {
     font-size: 14px;
     font-weight: bold;
     line-height: 50px;
     left: 10px;
     position: absolute;
     top: 52%;
     width: 86%;
 }
 .route_search .route_way {
     top: 330px;
     padding-left: 5px;
     *zoom: 1;
     position: absolute;
 }
 .route_search .route_way .selected {
     position: relative;
     height: 27px;
     border: 1px solid #267BD0;
     border-top: 2px solid #267BD0;
     background-color: #F4FAFF;
     color: #06c;
     font-weight: bold;
     cursor: default;
     z-index: 2;
 }
 .route_search .route_way::after {
     clear: both;
     content: '.';
     display: block;
     height: 0;
     overflow: hidden;
 }
 .route_search .route_way a {
     position: relative;
     float: left;
     display: inline;
     width: 85px;
     height: 28px;
     margin: 0 0 0 -1px;
     border: 1px solid #DADBDA;
     background-color: #F5F5F5;
     color: #333;
     font-size: 14px;
     line-height: 28px;
     text-align: center;
     text-decoration: none;
 }
 #routePanel p {
     position: absolute;
     float: left;
     bottom: 0%;
     left: 35px;
 }

