* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #bfa57c;
    color: #fff;
}
body {
    color: #a48d66;
    font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
}
h1, h2, h3, h4, b {
    font-weight: 300;
    font-family: bree-web, Bree, sans-serif;
}
h2 {
    font-size: 28px;
    padding-bottom: 60px;
}
b {
    font-weight: 500;
    font-size: 16px;
    color: #c3522f;
}
.banner {
    position: relative;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    text-shadow: 0 0 1px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .3);
}
.banner ul {
    list-style: none;
    width: 300%;
    overflow: hidden;
}
.banner ul li {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    min-height: 350px;
}
.banner ul li img.bg {
    width: 100%;
    height: 406px;
}
.banner .inner {
    position: absolute;
    width: 800px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -400px;
    z-index: 1;
}
.banner h1, .banner h2 {
    font-size: 40px;
    line-height: 52px;
    color: #fff;
}
.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
}
.banner .btn:hover {
    background: rgba(255, 255, 255, .05);
}
.banner .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
}
.unslider-nav ol {
    list-style: none;
    text-align: center;
}
.unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 6px;
    height: 6px;
    margin: 0px 4px;
    padding: 3px;
    background: transparent none repeat scroll 0% 0%;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #FFF;
    cursor: pointer;
    opacity: 0.4;
}
.unslider-nav ol li.unslider-active {
    background: #FFF none repeat scroll 0% 0%;
    cursor: default;
    opacity: 1;
}
