<!-- 简单分页样式开始 -->
<div id="pagination-html">
    <ul class="pagination">
        <li class="prev">&nbsp;上一页</li>
        <li class="page-num active">1</li>
        <li class="page-num">2</li>
        <li class="page-num">3</li>
        <li class="next">下一页&nbsp;</li>
    </ul>
</div>
<!-- 简单分页样式结束 -->
<!-- 这里显示下拉列表的html代码 -->
<div id="pagination-code" class="show-code"></div>
<script type="text/javascript">
$("#pagination-html").htmlcode($("#pagination-code"), {
    indent: true
});
</script>
