<div id="line-html">
    <div class="line-item site-grade">
        <!-- 进度条 -->
        <div class="progress-bar-grey"></div>
        <div class="progress-bar-yellow"></div>
        <!-- 等级标志位置 -->
        <div class="grade-name">
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv1"></i>
                <span class="grade-num">0</span>
            </div>
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv2"></i>
                <span class="grade-num">100</span>
            </div>
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv3"></i>
                <span class="grade-num">500</span>
            </div>
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv4"></i>
                <span class="grade-num">1000</span>
            </div>
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv5"></i>
                <span class="grade-num">2000</span>
            </div>
            <div class="grade-img-text">
                <i class="manstro-icon icon-lv icon-lv6"></i>
                <span class="grade-num">5000</span>
            </div>
        </div>
        <!-- 等级标志位置 -->
    </div>
    <label>请输入积分数值：
        <input class="input" value="" type="number" />
    </label>
    <button class="sure" type="submit">确定</button>
</div>
<!-- 这里显示下拉列表的html代码 -->
<div id="line-code" class="show-code"></div>
<script type="text/javascript">
$(".sure").click(function() {
    var val = $(".input").val();

    $(".progress-bar-yellow").stop().animate({
        width: val
    })

})
$("#line-html").htmlcode($("#line-code"), {
    indent: true
});
</script>
