<div id="bike-html">
    <div class="bike-list bike-list-first">
        <div class="list-content">
            查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情
            <span class="see-desc"><span class="text">查看详情</span><i class="write-arrow"></i></span>
        </div>
        <div class="bike-desc">
            查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情
        </div>
    </div>
    <div class="bike-list">
        <div class="list-content">
            查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情
            <span class="see-desc"><span class="text">查看详情</span><i class="write-arrow"></i></span>
        </div>
        <div class="bike-desc">
            查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情查看详情
        </div>
    </div>
</div>
<!-- 这里显示下拉列表的html代码 -->
<div id="bike-code" class="show-code"></div>
<script type="text/javascript">
$(".see-desc").click(function() {
    $(this).children(".write-arrow").toggleClass("flipy");
    $(this).parent().siblings(".bike-desc").toggleClass("show")
    var txt = $(this).children(".text").text();
    if (txt == "查看详情") {
        $(this).children(".text").text("收起详情");
    } else if (txt == "收起详情") {
        $(this).children(".text").text("查看详情");
    }
})
$("#bike-html").htmlcode($("#bike-code"), {
    indent: true
})
</script>
