/*overlay CSS*/

* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    height: 1000px;
    border-bottom: 1px solid #ddd;
}
#overlay {
    background: #000;
    filter: alpha(opacity=30);
    /* IE的透明度 */
    opacity: 0.3;
    /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 101;
    /* 此处的图层要大于页面 */
}
#btn {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 30px;
    border: none;
}
#alert {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 102;
}
#alert .close {
    float: right;
    cursor: pointer;
}
#alert p {
    text-align: center;
    line-height: 100px;
}

