@charset: utf-8;
div, ul, li, span {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#mylist {
    width: 200px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
}
#listTitle {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#listContent {
    display: none;
}
#listContent li {
    padding-left: 20px;
    line-height: 28px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#listContent li:hover {
    color: #fff;
    background-color: #0DB9FC;
}
