/*
 * Title: 万洲嘉智组件库
 * Time: 2016.05.21
 * Author: thone;
*/


/*select样式优化代码开始*/

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #ddd;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url(../img/icon-caret-grey.png) no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    margin-right: 10px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
    display: none;
}

/*select样式优化代码结束*/


/*icon图标集开始*/

.manstro-icon {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

/*占位图片开始*/

.icon-default {
    width: 16px;
    height: 16px;
    background-image: url(../img/16.png);
}

/*占位图片结束*/

.icon-caret {
    width: 11px;
    height: 7px;
    background-image: url(../img/icon-caret-grey.png);
}
.icon-caret-left {
    width: 7px;
    height: 10px;
    background-image: url(../img/icon-caret-grey-lf.png);
}
.icon-caret-white {
    width: 13px;
    height: 10px;
    background-image: url(../img/icon-caret-white.png);
}
.icon-14 {
    width: 14px;
    height: 14px;
}

/*人物头像标志*/

.icon-user {
    background-image: url(../img/icon-user-grey.png);
}
.icon-user-big {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-user-big.png);
}
.icon-right {
    background-image: url(../img/icon-right-grey.png);
}
.icon-16 {
    width: 16px;
    height: 16px;
}

/*搜索标志*/

.icon-search {
    background-image: url(../img/icon-search.png);
}

/*电话标志*/

.icon-phone-big {
    width: 38px;
    height: 38px;
    background-image: url(../img/icon-phone-big.png);
}

/*定位*/

.icon-location {
    width: 20px;
    height: 24px;
    background-image: url(../img/icon-location.png);
}

/*星级图标*/

.icon-grade {
    height: 14px;
    background-position: 0 0;
    background-image: url(../img/icon-grade.png);
}
.icon-grade1 {
    width: 16px;
}
.icon-grade2 {
    width: 32px;
}
.icon-grade3 {
    width: 47px;
}
.icon-grade4 {
    width: 63px;
}
.icon-grade5 {
    width: 60px;
}

/*订单标志*/

.icon-order {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-order.png);
}

/*新增标志*/

.icon-new {
    width: 32px;
    height: 23px;
    background-image: url(../img/icon-new.png);
}

/*钱袋标志*/

.icon-money {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-money.png);
}

/*服务中心标志*/

.icon-help {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-help.png);
}

/*连接标志*/

.icon-link {
    width: 26px;
    height: 25px;
    background-image: url(../img/icon-link.png);
}

/*问号标志*/

.icon-question {
    width: 25px;
    height: 25px;
    background-image: url(../img/icon-question.png);
}

/*会员等级标志*/

.icon-lv {
    width: 38px;
    height: 13px;
}
.icon-lv1 {
    background-image: url(../img/icon-lv1.png);
}
.icon-lv2 {
    background-image: url(../img/icon-lv2.png);
}
.icon-lv3 {
    background-image: url(../img/icon-lv3.png);
}
.icon-lv4 {
    background-image: url(../img/icon-lv4.png);
}
.icon-lv5 {
    background-image: url(../img/icon-lv5.png);
}
.icon-lv6 {
    background-image: url(../img/icon-lv6.png);
}

/*icon图标集结束*/


/*下拉列表开始*/

.dropdown {
    position: relative;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
}
.dropdown .dropdown-title {
    width: 100%;
    height: 30px;
    background-color: #ddd;
}
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
}
.dropdown .dropdown-menu li {
    border-bottom: 1px solid #ddd;
}

/*下拉列表结束*/


/*-返回顶部*/

.back-to-top {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 34px;
    height: 34px;
    background-image: url('../img/back-to-top.png');
    cursor: pointer;
    z-index: 99;
}
.back-to-top:hover {
    background-position: 0 -34px;
}

/*返回顶部*/


/*页数加减框*/

.abour-Rute .page span {
    margin-left: 0px;
    font-size: 16px;
    color: #333;
    font-family: "微软雅黑"
}
.page {
    line-height: 30px;
    width: 100px;
}
.page div {
    color: #06C;
}
.page .pageIcon {
    display: inline-block;
    vertical-align: middle;
    font-family: SimSun, serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #06C;
    border-radius: 50%;
    line-height: 20px;
}
.page .prev {
    padding-left: 5px;
    width: 13px;
    height: 18px;
    cursor: pointer;
}
.page .next {
    padding-left: 6px;
    width: 12px;
    height: 18px;
    cursor: pointer;
}

/*页数加减框*/


/*数量加减开始*/

.plus-minus {
    width: 80px;
    line-height: 26px;
    overflow: hidden;
    border: 1px solid #eee;
}
.plus-minus span {
    float: left;
    display: inline-block;
    width: 18px;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
}
.plus-minus .minus {
    border-right: 1px solid #e5e5e5;
}
.plus-minus .plus {
    border-left: 1px solid #e5e5e5;
}
.plus-minus .text-amount {
    float: left;
    padding: 0 2px;
    width: 38px;
    height: 26px;
    text-align: center;
    border: none;
}

/*数量加减结束*/


/*简单分页样式开始*/

.pagination {
    overflow: hidden;
}
.pagination li {
    float: left;
    margin-right: 2px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.pagination .active,
.pagination li:hover {
    color: #E43E4D;
    background-color: #F5F5F5;
}
.pagination li:last-child {
    margin-right: 0;
}
.pagination .prev {
    width: 70px;
    background-image: url(../img/icon-caret-grey-lf.png);
    background-repeat: no-repeat;
    background-position: 15% 56%;
}
.pagination .next {
    width: 70px;
    background-image: url(../img/icon-caret-grey-rt.png);
    background-repeat: no-repeat;
    background-position: 89% 53%;
}
.pagination .prev:hover {
    background-image: url(../img/icon-caret-red-lf.png);
}
.pagination .next:hover {
    background-image: url(../img/icon-caret-red-rt.png);
}
.pagination .page-num {
    width: 34px;
}

/*简单分页样式结束*/


/*验证密码强度开始*/

#check-pwd-strong {
    overflow: hidden;
}
#check-pwd-strong input {
    float: left;
    font-size: 12px;
    width: 150px;
    font-family: arial;
    border: 1px solid #ccc;
    padding: 3px;
}
#check-pwd-strong .correct {
    border: 1px solid green;
}
#check-pwd-strong .error {
    border: 1px solid red;
}
#check-pwd-strong #tips {
    float: left;
    margin: 2px 0 0 20px;
}
#check-pwd-strong #tips span {
    float: left;
    width: 50px;
    height: 20px;
    color: #fff;
    overflow: hidden;
    background: #ccc;
    margin-right: 2px;
    line-height: 20px;
    text-align: center;
}
#check-pwd-strong #tips.s1 .active {
    background: #f30;
}
#check-pwd-strong #tips.s2 .active {
    background: #fc0;
}
#check-pwd-strong #tips.s3 .active {
    background: #cc0;
}
#check-pwd-strong #tips.s4 .active {
    background: #090;
}

/*验证密码强度结束*/


/*搜索框开始*/

.header-search {
    margin-bottom: 20px;
}
.search-body {
    width: 501px;
    height: 42px;
}
.blue-border {
    border: 2px solid #008CD6;
}
.orange-border {
    border: 2px solid #FF9560;
}
.search-body .search-type {
    position: relative;
    width: 100px;
    height: 100%;
    border-right: 1px solid #ddd;
    background-color: #F2FBFF;
}
.search-body .search-type .chosen-key {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}
.search-body .search-key .icon-caret {
    position: absolute;
    top: 18px;
    right: 6px;
    width: 10px;
    height: 7px;
    background-image: url(../img/icon-caret-grey.png);
}
.search-body .key-body {
    display: none;
    position: absolute;
    top: 37px;
    right: 6px;
}
.search-body .key-body .top-arrow {
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 104;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
}
.search-body .key-body .keys {
    position: relative;
    width: 110px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 0 6px #ccc;
    background-color: #FFF;
    z-index: 103;
    left: 6px;
}
.search-body .keys li {
    font-size: 14px;
    color: #909090;
    cursor: pointer;
}
.search-body .keys li:hover {
    color: #343434;
}
.search-body .keys li:last-child {
    border: none;
}
.search-body .search-input input {
    display: block;
    padding-left: 4px;
    width: 320px;
    height: 40px;
    border: none;
    border-radius: 0;
}
.icon-16 {
    width: 16px;
    height: 16px;
}
.manstro-icon {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
}
.search-body .search-btn {
    width: 75px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.bg-blue {
    background-color: #008CD6;
}
.bg-orange {
    background-color: #FF9560;
}
.icon-search {
    background-image: url(../img/icon-search.png);
}
.fr {
    float: right;
}
.fl {
    float: left;
}

/*搜索框结束*/


/*下拉框列表*/

.bike-list-first {
    border-top: 1px solid #ddd !important;
}
.bike-list {
    width: 460px;
    border: 1px solid #ddd;
    border-top: none;
}
.list-content {
    width: 440px;
    height: 100px;
    margin: 0 auto;
}
.see-desc {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #FF9560;
    float: right;
    margin-top: 34px;
    cursor: pointer;
}
.write-arrow {
    position: absolute;
    width: 12px;
    height: 6px;
    margin: 13px 0 0 6px;
    background-image: url(../img/icon-weite-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bike-desc {
    display: none;
    height: 100px;
}
.show {
    display: block;
}

/*垂直翻转*/

.flipy {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*下拉框列表*/


/*进度条*/

#my-growth .line-item {
    line-height: 40px;
}
.line-item {
    position: relative;
    line-height: 63px;
    overflow: hidden;
}
.progress-bar-grey {
    position: absolute;
    width: 600px;
    height: 13px;
    top: 5px;
    border: 1px solid #EAE7E9;
    border-radius: 17px;
    background-color: #ddd;
}
.progress-bar-yellow {
    position: absolute;
    width: 0px;
    height: 13px;
    top: 5px;
    border-radius: 17px;
    background-color: #FBC85B;
}
#my-growth .line-item {
    line-height: 40px;
}
#my-growth .grade-name {
    overflow: hidden;
}
.line-item {
    line-height: 63px;
}
.grade-img-text {
    float: left;
    width: 100px;
    margin-top: 16px;
}
.icon-lv1 {
    background-image: url(../img/icon-lv1.png);
}
.icon-lv2 {
    background-image: url(../img/icon-lv2.png);
}
.icon-lv3 {
    background-image: url(../img/icon-lv3.png);
}
.icon-lv4 {
    background-image: url(../img/icon-lv4.png);
}
.icon-lv5 {
    background-image: url(../img/icon-lv5.png);
}
.icon-lv6 {
    background-image: url(../img/icon-lv6.png);
}
.icon-lv {
    width: 38px;
    height: 13px;
}
.manstro-icon {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

/*进度条*/


/*生日开始*/

fieldset {
    padding: 0;
    border: none;
}
#birthday,
label {
    float: left;
}
#birthday-html {
    width: 100%;
    height: 21px;
}

/*生日结束*/

