.border-radius {
    border-radius: 4px;
}


/*======= 文章开始=======*/

.ms-article h3 {
    line-height: 2;
}

.ms-article p {
    margin-bottom: 10px;
}


/*======= 文章结束=======*/


/* ======= 表格公共样式开始 ======= */

.ms-table {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ddd;
}

.ms-table th,
.ms-table td {
    text-align: center;
    line-height: 43px;
    border-bottom: 1px solid #ddd;
}

.ms-table tbody tr:last-child td {
    border-bottom: none;
}

.ms-table tbody > tr:nth-child(2n+1) > td,
.ms-table tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}

.table-bordered {
    border-left: none;
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #ddd;
}


/* ======= 表格公共样式结束 ======= */


/* ======= 表单公共样式开始 ======= */

.ms-form .form-item {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    min-height: 18px;
    vertical-align: middle;
}

.ms-form .checkbox,
.ms-form .radio {
    position: relative;
    display: block;
    margin-left: 82px;
    margin-bottom: 16px;
}

.ms-form label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.ms-form .form-item label {
    min-width: 80px;
    text-align: right;
}

.ms-form .form-control {
    display: inline-block;
    width: auto;
    height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ms-form select.form-control {
    min-width: 200px;
}

.ms-form .ms-textarea {
    display: inline-block;
    padding: 6px;
    width: 400px;
    height: 120px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    resize: none;
}

.form-item .btn {
    margin-left: 80px;
}


/* ======= 按钮样式开始 ======= */

.btn {
    display: inline-block;
    padding: 0px 8px;
    text-align: center;
    min-width: 100px;
    line-height: 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}

.btn-default {
    color: #444;
    background-color: #ccc;
}

.btn-primary {
    background-color: #245580;
}

.btn-success {
    background-color: #429842;
}

.btn-info {
    background-color: #2aabd2;
}

.btn-warning {
    background-color: #e38d13;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-transparent {
    border: none;
    color: #444;
    background-color: transparent;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


/* ======= 按钮样式结束 ======= */

pre,
pre span,
pre code,
pre code span {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
