/*左侧菜单导航开始*/

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1 {
    text-align: center;
    line-height: 60px;
}
.main .main-lf-nav {
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 20px;
    font-size: 12px;
    margin-top: -97px;
    z-index: 102;
}
.main-lf-nav li span {
    color: #010101;
    cursor: pointer;
}
.main-lf-nav li.active span,
.main-lf-nav li:hover span {
    color: #008CD6;
}
.main-lf-nav li.active .icon-circle-grey,
.main-lf-nav li:hover .icon-circle-grey {
    background-color: #008CD6;
}
.main-lf-nav .icon-circle-grey {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ddd;
}
.main-lf-nav .bar {
    display: block;
    margin-left: 4px;
    width: 0;
    height: 20px;
    border-left: 2px dotted #ddd;
}

/*左侧菜单导航结束*/

.main .main-body {
    margin: 0 auto 200px;
    width: 1140px;
}
.main .main-body .section {
    margin-bottom: 20px;
    height: 500px;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #ccc;
}

