/*
 * Title: 万洲嘉智第三方组件库
 * Time: 2017.05.04
 * Author: Bruce wang
*/


/*生日开始*/

fieldset {
    padding: 0;
    border: none;
}
#birthday, label {
    float: left;
}
#birthday-html {
    width: 100%;
    height: 21px;
}

/*生日结束*/


/*icon图标集开始*/

.ms-icon {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

/*占位图片开始*/

.icon-default {
    width: 16px;
    height: 16px;
    background-image: url(../img/16.png);
}

/*占位图片结束*/

.icon-caret {
    width: 11px;
    height: 7px;
    background-image: url(../img/icon-caret-grey.png);
}
.icon-caret-left {
    width: 7px;
    height: 10px;
    background-image: url(../img/icon-caret-grey-lf.png);
}
.icon-caret-white {
    width: 13px;
    height: 10px;
    background-image: url(../img/icon-caret-white.png);
}
.icon-14 {
    width: 14px;
    height: 14px;
}

/*人物头像标志*/

.icon-user {
    background-image: url(../img/icon-user-grey.png);
}
.icon-user-big {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-user-big.png);
}
.icon-right {
    background-image: url(../img/icon-right-grey.png);
}
.icon-16 {
    width: 16px;
    height: 16px;
}

/*搜索标志*/

.icon-search {
    background-image: url(../img/icon-search.png);
}

/*电话标志*/

.icon-phone-big {
    width: 38px;
    height: 38px;
    background-image: url(../img/icon-phone-big.png);
}

/*定位*/

.icon-location {
    width: 20px;
    height: 24px;
    background-image: url(../img/icon-location.png);
}

/*星级图标*/

.icon-grade {
    height: 14px;
    background-position: 0 0;
    background-image: url(../img/icon-grade.png);
}
.icon-grade1 {
    width: 16px;
}
.icon-grade2 {
    width: 32px;
}
.icon-grade3 {
    width: 47px;
}
.icon-grade4 {
    width: 63px;
}
.icon-grade5 {
    width: 60px;
}

/*订单标志*/

.icon-order {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-order.png);
}

/*新增标志*/

.icon-new {
    width: 32px;
    height: 23px;
    background-image: url(../img/icon-new.png);
}

/*钱袋标志*/

.icon-money {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-money.png);
}

/*服务中心标志*/

.icon-help {
    width: 25px;
    height: 23px;
    background-image: url(../img/icon-help.png);
}

/*连接标志*/

.icon-link {
    width: 26px;
    height: 25px;
    background-image: url(../img/icon-link.png);
}

/*问号标志*/

.icon-question {
    width: 25px;
    height: 25px;
    background-image: url(../img/icon-question.png);
}

/*会员等级标志*/

.icon-lv {
    width: 38px;
    height: 13px;
}
.icon-lv1 {
    background-image: url(../img/icon-lv1.png);
}
.icon-lv2 {
    background-image: url(../img/icon-lv2.png);
}
.icon-lv3 {
    background-image: url(../img/icon-lv3.png);
}
.icon-lv4 {
    background-image: url(../img/icon-lv4.png);
}
.icon-lv5 {
    background-image: url(../img/icon-lv5.png);
}
.icon-lv6 {
    background-image: url(../img/icon-lv6.png);
}

/*icon图标集结束*/
