.unslider {
    position: relative;
    overflow: auto;
}
.unslider-wrap {
    position: relative
}
.unslider-wrap.unslider-carousel li {
    float: left
}
.unslider-vertical>ul {
    height: 100%
}
.unslider-vertical li {
    float: none;
    width: 100%
}
.unslider-fade {
    position: relative
}
.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}
.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}
.unslider li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none
}
.unslider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
}
.unslider-nav li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.unslider-nav li.active {
    background: #fff;
    opacity: 1;
}
.unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2) url("../img/prev.png") no-repeat scroll 50% 50% / 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: 0.6;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.unslider-arrow {
    position: absolute;
    left: 30px;
    z-index: 2;
    cursor: pointer
}
.unslider-arrow.next {
    left: auto;
    right: 30px
}
.unslider-arrow.prev {
    transform: rotate(-180deg);
}
.unslider-arrow:hover {
    opacity: 1;
}
