@charset: utf-8;
table, thead, tbody, th, tr, td, div, p, a {
    margin: 0;
    padding: 0;
}
table {
    margin: 0 auto;
    min-width: 500px;
    text-align: center;
    border: 1px solid #4F81BD;
    border-bottom: none;
    border-right: none;
}
table thead {
    height: 30px;
}
table thead th {
    font-size: 14px;
    color: #fff;
    background-color: #4F81BD;
    /*font-weight: normal;*/
}
table th, table td {
    padding: 5px;
    border-right: 1px solid #4F81BD;
    border-bottom: 1px solid #4F81BD;
}
table tbody td {
    font-size: 14px;
}
table tbody tr:nth-child(2n+1) {
    background-color: #B8CCE4;
}
