body {
    background: url("../img/index/bg1.jpg") center 0 no-repeat #fff;
    background-size: cover;
    background-attachment: fixed;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
#index {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.main-section {
    min-height: 400px;
}
.main-banner {
    padding-top: 160px;
    line-height: 4;
    text-align: center;
    color: #fff;
}
.main-banner a {
    color: #3FB8DD;
}
.main-title {
    font-family: 'Clicker Script', cursive;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#index footer {
    position: absolute;
    background-color: transparent;
}
