/*
 *Grids
 *Content width: 980px
 *marginright: 10px;
 */

.container {
    width: 980px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    position: relative;
}
.c0,
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9 {
    margin: 0 10px 0 0;
    display: inline;
    float: left;
}
.c9 {
    width: 980px;
}
.c8 {
    width: 730px;
}
.c7 {
    width: 670px;
}
.c6 {
    width: 520px;
}
.c5 {
    width: 465px;
}
.c4 {
    width: 320px;
}
.c3 {
    width: 240px;
}
.c2 {
    width: 220px;
}
.c1 {
    width: 160px;
}
.c0 {
    width: 140px;
}
.full {
    width: 100%;
}
.inner {
    padding: 10px;
}
.first {
    margin-left: 0;
    clear: left;
}
.last {
    margin: 0;
    border: none;
}

/*
 *Layout
 */


/*float left*/

.fl {
    float: left;
}

/*float right*/

.fr {
    float: right;
}
.img-fl {
    float: left;
    margin: 4px 10px 4px 0;
}
.img-fr {
    float: right;
    margin: 4px 0 4px 10px;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}
.font26 {
    font-size: 26px;
}

/*公共布局样式开始*/

.ui-layout header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    z-index: 100;
}
.ui-layout header.dark {
    background-color: #294A5D;
}
.ui-layout header a,
.ui-layout header a:link {
    color: #fff;
}
.ui-layout header li {
    float: left;
    padding-left: 60px;
    text-align: right;
    font-size: 14px;
}
.ui-layout .align-center,
.ui-layout .main {
    margin: 0px auto;
    width: 1100px;
    overflow: hidden;
}
.ui-layout footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #1B1B1F;
    color: #fff;
}
.ui-layout footer a {
    color: #fff;
}

/*公共布局样式结束*/

