/*左侧菜单开始*/

.main-lf-menu {
    float: left;
    width: 150px;
    margin-left: 50px;
}
.lf-menu-title {
    line-height: 40px;
    cursor: pointer;
}
.main-lf-menu .lf-menu-title .manstro-icon {
    margin-left: -25px;
    margin-top: 10px;
    /*   position: relative;
       top: -2px;  */
}
.main-lf-menu .top-title {
    margin-right: 22px;
    color: #545454;
}
.icon-order {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -5px;
}
.icon-money {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-money.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.icon-setuser {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-setuser.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -3px;
}
.icon-usercenter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-usercenter.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -2px;
}
.main-lf-menu .lf-menu-list {
    margin-left: 30px;
}
.main-lf-menu .lf-menu-list li a {
    display: block;
    width: 100%;
    color: #6F6F6F;
    line-height: 32px;
    font-size: 14px;
    text-decoration: none;
}
.main-lf-menu .lf-menu-list li a.active,
.main-lf-menu .lf-menu-list li a:hover {
    color: #FF5960;
}
.main-lf-menu .lf-menu-list .manstro-icon {
    position: relative;
    top: -8px;
    left: 2px;
}
.main-lf-menu .lf-menu-title a {
    color: #444 !important;
}
.personal-center .lf-menu-title a {
    color: #FF5960 !important;
}
.lf-menu-list li {
    list-style: none;
}

