.fl {
    float: left;
}
.fr {
    float: right;
}
.right20 {
    margin-right: 20px;
}
.orange {
    color: #FF9560;
}
.font16 {
    font-size: 16px;
}
.cursor {
    cursor: pointer;
}
.goods-cart {
    width: 1100px;
    min-height: 600px;
    margin: 20px auto 0;
    overflow: hidden;
}
.goods-cart .top-choose {
    padding-top: 20px;
    height: 40px;
    border-bottom: 1px solid #D2D2D2;
}
.goods-cart .go-pay {
    display: inline-block;
    margin: 0 auto;
    background-color: #FF9560;
    color: #fff;
    font-size: 16px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.goods-cart .top-choose .go-pay {
    margin-right: 35px;
}
.goods-cart .top-choose .all-sett .bottom-choose {
    background-color: #f0f0f0;
    height: 50px;
    margin: 20px 0;
}
.goods-cart .all-cost {
    float: right;
    font-size: 15px;
}
.goods-cart .all-cost .total {
    margin-right: 26px;
}
.goods-cart table {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.goods-cart table tr td {
    text-align: center;
}
.goods-cart thead, .goods-cart tfoot {
    font-size: 15px;
    height: 50px;
    border-bottom: 1px solid #ddd;
}
tfoot tr td:nth-child(2) {
    text-align: left;
}
tfoot tr td:nth-child(3) {
    text-align: right;
}
.goods-list {
    height: 84px;
    border-bottom: 1px solid #eee;
}
.goods-list .img-info img {
    display: inline-block;
    width: 100px;
    height: 80px;
}
.goods-list .img-info .info {
    width: 155px;
    display: inline-block;
    position: relative;
    top: 22px;
    text-align: left;
    margin-left: 10px;
}
.goods-cart .active {
    background-color: #FFFDFD;
    box-shadow: 0 0 3px #aaa;
}
.goods-list .e-check {
    cursor: pointer;
}
.goods-cart .unit-price {
    min-width: 100px;
}
.goods-list .subtotal {
    min-width: 116px;
}
.goods-list .delete {
    display: none;
    margin: 0 auto;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #FF9560;
    cursor: pointer;
}
.goods-cart .plus-minus {
    margin: 0 auto;
    width: 80px;
    line-height: 26px;
    overflow: hidden;
    border: 1px solid #eee;
}
.goods-cart .plus-minus span {
    float: left;
    display: inline-block;
    width: 18px;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
}
.goods-cart .plus-minus .minus {
    border-right: 1px solid #e5e5e5;
}
.goods-cart .plus-minus .plus {
    border-left: 1px solid #e5e5e5;
}
.goods-cart .plus-minus .text-amount {
    float: left;
    padding: 0 2px;
    width: 38px;
    height: 26px;
    text-align: center;
    border: none;
}

/* 数量加减框结束 */
